u
{
    color: red;
}

.drogowe
{
    margin-top: -400px;
}

.postoj
{
    margin-top: -220px;
}

.inne
{
    margin-top: -380px;
    margin-left: 25%;
}

.lotniczy
{
    margin-top: -120px;
}

.div
{
    overflow-x: auto;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .div {
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .div {
      width: 100%;
    }
  }
  
.container
{
    width: 100%;
    height: 100%;
}