*{
    margin: 0;
    padding: 0;
}
:root
{
    --color-font: #649194;
    --bg-navbar: #44494775;
    --border-color: #ffffff67;
}
body
{
    background-color: #0c1324;
    color: var(--color-font);
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.navbar
{
    background-color: var(--bg-navbar);
    width: 100%;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    justify-content: center;
}
.inne, .manewry, .cayo, .transport, .lotniczy, .predkosc, .techniczny, .drogowe, .ucieczka, .postoj, .kradziez
{
    border: 2px dashed var(--border-color);
    border-radius: 5px; 
    width: 24.3%;
    margin: 4px;
    float: left;
    text-align: center;   
}
u
{
    color: white;
    text-shadow: 2px  2px 1px #055dff;
    text-decoration: none;
}
p
{
    padding: 0 5px 5px 5px;
}
a
{
    text-decoration: none;
    color: #c72b2b;
}
h1
{
    margin-bottom: 2px;
}
.navbar-items-nielegale
{
    float: right;
    right: 0;
    margin-top: -10px;
    transform: translate(-50%, -50%);
}
.navbar-p
{
    width: 100px;
}
@media screen and (max-width:1200px){
    .inne, .manewry, .cayo, .transport, .lotniczy, .predkosc, .techniczny, .drogowe, .ucieczka, .postoj, .kradziez{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    .inne, .manewry, .cayo, .transport, .lotniczy, .predkosc, .techniczny, .drogowe, .ucieczka, .postoj, .kradziez{
        width: 40%;
    }
}
#submit
{
    color: var(--color);
    background-color: var(--bg-navbar);
    border-radius: 5px;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}
input[type="checkbox" i]  {

    display: none !important;
    visibility: hidden;
    position: absolute left -9999px;

}
.active
{
    display: inline-block;
}