u
{
    color: red;
}

.drogowe
{
    margin-top: -400px;
}

.postoj
{
    margin-top: -220px;
}

.inne
{
    margin-top: -380px;
    margin-left: 25%;
}

.lotniczy
{
    margin-top: -120px;
}